/* Basic styling for the navbar */
body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

/* nav nar styles */
.navbar {
    display: flex;
    background-color: #333;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 5px 0;
}

#logo {
    color: #b9dccc;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 10px;
}

.navbar a {
    color: rgb(228, 227, 227);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    padding: 10px 8px;
}

.tab-link:hover,
.tab-link-ex:hover {
    background-color: #575757;
}


/* For switching tabs */
.tab-content {
    display: none;
}

.active {
    display: block;
}

/* Styling for the Globe View */
#cesiumContainer {
    height: calc(100vh - 50px);
}

/* Styling for the trips (travel log) tab */
#travel-log,
#travel-stats {
    margin: 10px;
}

#travelLogTitle,
#travelStatsTitle {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #12694f;
}

.text-center {
    text-align: center;
}

/* slider text */
#slider-wrapper {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    height: 30px;
    overflow: hidden;
    /* One of the importing things for slide effect */
}

#slider-fixed {
    height: 30px;
}

.slider-text {
    height: 30px;
    font-weight: 700;
    padding: 0 2px;
    margin-bottom: 30px;
    box-sizing: border-box;
    text-align: right;
}

#slider-text-1 {
    color: #b96114;
    animation: slide 8s linear infinite;
}

#slider-text-2 {
    color: #87147b;
}

#slider-text-3 {
    color: #3779d5;
}

#slider-text-4 {
    color: #499d2a;
}

@keyframes slide {
    0% {
        margin-top: -240px;
    }

    5% {
        /* For stopping effect */
        margin-top: -180px;
    }

    25% {
        margin-top: -180px;
    }

    30% {
        /* For stopping effect */
        margin-top: -120px;
    }

    50% {
        margin-top: -120px;
    }

    55% {
        /* For stopping effect */
        margin-top: -60px;
    }

    75% {
        margin-top: -60px;
    }

    80% {
        /* For stopping effect */
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

#travelLogTable {
    display: none;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-bottom: 40px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #edfff7;
    font-weight: bold;
    color: #12694f;
    font-size: 16px;
    border-bottom: none;
}

.thinCol {
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
}

td {
    background-color: #fafafa;
    border-bottom: none;
    color: #555;
    font-size: 14px;
    border-radius: 5px;
}

tr {
    margin-bottom: 8px;
    background-color: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

tr:hover td {
    background-color: #d7f5e1;
    color: #333;
}

/* tooltip styling */
.tooltip-cell {
    position: relative;
}

.tooltip-cell::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -16px;
    /* Adjust depending on how far you want the tooltip to appear from the cell */
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #e4e4e4;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    z-index: 1;
}

.tooltip-cell:hover::after {
    opacity: 1;
    transform: translateY(0);
}

/* The trip input modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f5f5f5;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* The close button for input modal */
.modal-close {
    color: #686868;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* input form in modal */
.trip-form {
    background-color: #f5f5f5;
    padding: 0 30px;
    max-width: 500px;
    margin: 20px auto;
}

#form-title {
    color: #12694f;
    margin-bottom: 20px;
}

.form-info {
    font-size: 14px;
    margin-left: 10px;
}

.trip-form label {
    display: block;
    margin: 10px 0 5px;
}

.trip-form input,
.trip-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* buttons styling */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

.wideButton {
    font-weight: bold;
    padding: 10px 15px;
}

#addTripButton,
#importButton,
#exportButton {
    background-color: #12694f;
}

#demoButton {
    background: rgb(240, 146, 39);
    background: linear-gradient(90deg, rgba(240, 146, 39, 1) 0%, rgba(9, 97, 91, 1) 50%, rgba(152, 12, 134, 1) 100%);
    font-size: 28px;
    margin: 30px;
    border-radius: 28px;
    padding: 12px 20px;
}

.rowDeleteButton {
    background-color: #c01010;
    font-size: 18px;
    font-weight: bold;
}

.rowEditButton {
    font-size: 18px;
    font-weight: bold;
}

#submitTripButton,
#updateTripButton {
    padding: 10px 20px;
    margin-top: 20px;
}

button:hover {
    filter: brightness(85%);
}

/* stats page styling */
.stats-slogan {
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    color: #555;
    margin: 10px;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Card Styling */
.stats-card {
    color: #e7e7e7;
    border-radius: 8px;
    padding: 20px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
}

.stats-card-text {
    font-weight: 400;
    font-size: 16px;
    color: #ddd;
}

.logoContainer {
    width:100%;
    background-color:#ffffff;
}


.ranking-text {
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
}

hr {
    border-top: 1px solid #bcbcbc;
}

.text-white {
    color: #ffffff;
}

.stats-card-value {
    font-size: 40px;
}

.stats-card-value-small {
    font-size: 25px;
}

.stats-card-value-smaller {
    font-size: 18px;
}

/* On smaller screens, allow horizontal scrolling */
@media (max-width: 768px) {
    table {
        display: block;
        /* Makes the table scrollable */
        overflow-x: auto;
        /* Enable horizontal scrolling */
        white-space: nowrap;
        /* Prevent table from breaking rows */
    }

    .navbar {
        justify-content: space-around;
    }
}
